<div class="col-sm-12" style="padding-bottom: 10px" *ngIf="loggedIn()">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block col-sm-6" (click)="showAllTips = !showAllTips">
        <span *ngIf="!showAllTips">Alle Tipps anzeigen</span>
      <span *ngIf="showAllTips">Nur eigene Tipps anzeigen</span>
  </button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="simulationMode = !simulationMode">
        <span *ngIf="!simulationMode">Simulationsmodus aktivieren</span>
        <span *ngIf="simulationMode">Simulationsmodus deaktivieren</span>
    </button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showCompleted = !showCompleted">
        <span *ngIf="showCompleted">Vergangenes verbergen</span>
        <span *ngIf="!showCompleted">Alle Spiele</span>
    </button>
  </div>
</div>

<div class="col-sm-6 col-xs-12" *ngFor="let match of matches | matchFilter:showCompleted">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">{{match.Date | deDate}}</h3>
    </div>
    <div class="panel-body" [ngClass]="{completed: match.MatchCompleted}">
      <table>
        <thead>
          <tr class="hidden-md hidden-lg">
            <th></th>
            <th class="text-left" colspan="2">
              <span class="hidden-xs">{{match.HomeTeam}}</span>
              <span class="visible-xs-block uppercase">{{match.HomeTeamFlag}}</span>
            </th>
            <th></th>
            <th class="text-right" colspan="2">
              <span class="hidden-xs">{{match.AwayTeam}}</span>
              <span class="visible-xs-block uppercase">{{match.AwayTeamFlag}}</span>
            </th>
            <th></th>
          </tr>
          <tr>
            <th class="text-right col-md-3">
              <span class="hidden-sm hidden-xs">{{match.HomeTeam}}</span>
            </th>
            <th class="text-right col-md-1 col-sm-2"><span class="flag-icon flag-icon-{{match.HomeTeamFlag}}"></span></th>
            <th class="text-right col-md-2 col-sm-4">
              <input *ngIf="matchResultInputAllowed(match)" class="form-control" [(ngModel)]="match.HomeGoals" (blur)="saveResult(match)"
                type="number" min="0" max="9" />
              <span *ngIf="!matchResultInputAllowed(match)">{{match.HomeGoals | score}}</span>
            </th>
            <th>:</th>
            <th class="col-md-2 col-sm-4">
              <input *ngIf="matchResultInputAllowed(match)" class="form-control" [(ngModel)]="match.AwayGoals" (blur)="saveResult(match)"
                type="number" min="0" max="9" />
              <span *ngIf="!matchResultInputAllowed(match)">{{match.AwayGoals | score}}</span>
            </th>
            <th class="col-md-1 col-sm-2"><span class="flag-icon flag-icon-{{match.AwayTeamFlag}}"></span></th>
            <th class="col-md-3">
              <span class="hidden-sm hidden-xs">{{match.AwayTeam}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tip of match.Tips | tipFilter:showAllTips">
            <td class="text-right" colspan="2"><span class="user">{{getName(tip.User)}}</span> ({{getUserPoints(tip.User)}})</td>
            <td class="text-right">
              <input *ngIf="tipInputAllowed(match, tip)" class="form-control" type="number" [(ngModel)]="tip.HomeGoals" (blur)="saveTip(tip)"
                min="0" max="9" />
              <span *ngIf="!tipInputAllowed(match, tip)">{{tip.HomeGoals | score}}</span>
            </td>
            <td>:</td>
            <td>
              <input *ngIf="tipInputAllowed(match, tip)" class="form-control" type="number" [(ngModel)]="tip.AwayGoals" (blur)="saveTip(tip)"
                min="0" max="9" />
              <span *ngIf="!tipInputAllowed(match, tip)">{{tip.AwayGoals | score}}</span>
            </td>
            <td colspan="2">
              <span *ngIf="getPoints(match, tip.User) === 3" class="label label-success">3</span>
              <span *ngIf="getPoints(match, tip.User) === 2" class="label label-primary">2</span>
              <span *ngIf="getPoints(match, tip.User) === 1" class="label label-info">1</span>
              <span *ngIf="getPoints(match, tip.User) === 0" class="label label-default">0</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>