table {
    width: 100%
}

table tbody {
    border-top: 1px solid #999;
}

span{
    font-size: 11px
}

td, th {
    /*border:  1px solid #999;*/
    padding: 0.5rem;
}

.user {
    font-style: italic;    
    font-size: 9px;
}

.flag-icon {
    border:  1px solid #999;
    font-size: 35px;
}

.completed{
    background-color: lightgray;
}

.uppercase{
    text-transform: uppercase;    
}