<div class="col-sm-12" style="padding-bottom: 10px" *ngIf="loggedIn()">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block col-sm-6" (click)="showAllTips = !showAllTips">
        <span *ngIf="!showAllTips">Alle Tipps anzeigen</span>
      <span *ngIf="showAllTips">Nur eigene Tipps anzeigen</span>
  </button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="simulationMode = !simulationMode">
        <span *ngIf="!simulationMode">Simulationsmodus aktivieren</span>
        <span *ngIf="simulationMode">Simulationsmodus deaktivieren</span>
    </button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showCompleted = !showCompleted">
        <span *ngIf="showCompleted">Vergangenes verbergen</span>
        <span *ngIf="!showCompleted">Alle Spiele</span>
    </button>
  </div>
</div>






<div class="col-sm-6 col-xs-12" *ngFor="let match of matches | matchFilter:showCompleted">
  <div class="card">
    <div class="card-header text-sm-center">
      {{match.Date | deDate}}
    </div>
    <div class="card-block" [ngClass]="{completed: match.MatchCompleted}">
      <table class="table" border="1">
        <thead>
          <tr>
            <th style="width: 20%" class="text-sm-right">
              <span class="hidden-xs">{{match.HomeTeam}}</span>
            </th>
            <th style="width: 10%" class="text-sm-right">
              <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.HomeTeamFlag}}.svg" alt="Afghanistan Flag">
            </th>
            <th style="width: 15%" class="text-sm-right">
              <input *ngIf="matchResultInputAllowed(match)" class="form-control" [(ngModel)]="match.HomeGoals" (blur)="saveResult(match)"
                type="number" min="0" max="9" />
              <span *ngIf="!matchResultInputAllowed(match)">{{match.HomeGoals | score}}</span>
            </th>
            <th style="width: 10%">:</th>
            <th style="width: 15%" class="">
              <input *ngIf="matchResultInputAllowed(match)" class="form-control" [(ngModel)]="match.AwayGoals" (blur)="saveResult(match)"
                type="number" min="0" max="9" />
              <span *ngIf="!matchResultInputAllowed(match)">{{match.AwayGoals | score}}</span>
            </th>
            <th style="width: 10%" class="">
              <img class="flag " src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.AwayTeamFlag}}.svg" alt="Afghanistan Flag"></th>
            <th style="width: 20%" class="">
              <span class="hidden-xs">{{match.AwayTeam}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tip of match.Tips | tipFilter:showAllTips">
            <td class="text-sm-right user" colspan="2">{{tip.User}} ({{getUserPoints(tip.User)}})</td>
            <td class="text-sm-right">
              <input *ngIf="tipInputAllowed(match, tip)" class="form-control" type="number" [(ngModel)]="tip.HomeGoals" (blur)="saveTip(tip)"
                min="0" max="9" />
              <span *ngIf="!tipInputAllowed(match, tip)">{{tip.HomeGoals | score}}</span>
            </td>
            <td>:</td>
            <td>
              <input *ngIf="tipInputAllowed(match, tip)" class="form-control" type="number" [(ngModel)]="tip.AwayGoals" (blur)="saveTip(tip)"
                min="0" max="9" />
              <span *ngIf="!tipInputAllowed(match, tip)">{{tip.AwayGoals | score}}</span>
            </td>
            <td colspan="2">
              <span *ngIf="getPoints(match, tip.User) === 3" class="label label-success">3</span>
              <span *ngIf="getPoints(match, tip.User) === 2" class="label label-primary">2</span>
              <span *ngIf="getPoints(match, tip.User) === 1" class="label label-info">1</span>
              <span *ngIf="getPoints(match, tip.User) === 0" class="label label-default">0</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<img src="https://lipis.github.io/flag-icon-css/flags/4x3/af.svg" alt="Afghanistan Flag">-->



<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let match of matches | matchFilter:showCompleted">
      <div class="row">
        <div class="col-sm-12 text-sm-center bg-primary">
          {{match.Date | deDate}}
        </div>
      </div>
      <div class="row  matchcontainer">
        <div class="col-sm-2 text-xs-right hidden-xs-down">{{match.HomeTeam}}</div>
        <img class="col-sm-2 flag p-x-0" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.HomeTeamFlag}}.svg" alt="Afghanistan Flag">
        <!--<span class=" flag-icon flag-icon-{{match.HomeTeamFlag}}"></span>-->
        <!--</div>-->
        <div class="col-sm-4">
          <div class="row">

            <div class="col-sm-5">
              <input class="form-control " [(ngModel)]="match.HomeGoals" (ngModelChange)="saveResult(match)" type="number" min="0" max="9"
              />
              <!--<span class="text-sm-right col-sm-5 p-x-0" *ngIf="!matchResultInputAllowed(match)">{{match.HomeGoals | score}}</span>-->
            </div>
            <span class="text-xs-center col-sm-2">:</span>
            <div class="col-sm-5">
              <input class="form-control" [(ngModel)]="match.AwayGoals" (ngModelChange)="saveResult(match)" type="number" min="0" max="9"
              />
              <!--<span class="col-sm-5 p-x-0" *ngIf="!matchResultInputAllowed(match)">{{match.AwayGoals | score}}</span>-->
            </div>
          </div>
        </div>
        <img class="col-sm-2 flag p-x-0" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.AwayTeamFlag}}.svg" alt="Afghanistan Flag">
        <div class="col-sm-2 hidden-xs-down">{{match.AwayTeam}}</div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let match of matches | matchFilter:showCompleted">
      <div class="card">
        <div class="card-header text-sm-center">
          {{match.Date | deDate}}
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-2 text-xs-right hidden-xs-down">{{match.HomeTeam}}</div>
            <img class="col-sm-2 col-xs-3 flag p-x-0" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.HomeTeamFlag}}.svg"
              alt="Afghanistan Flag">
            <!--<span class=" flag-icon flag-icon-{{match.HomeTeamFlag}}"></span>-->
            <!--</div>-->
            <div class="col-sm-4 col-xs-6 p-x-0 m-x-2">
              <div class="row">

                <div class="col-xs-5 p-x-0">
                  <input class="form-control " [(ngModel)]="match.HomeGoals" (ngModelChange)="saveResult(match)" type="number" min="0" max="9"
                  />
                  <!--<span class="text-sm-right col-sm-5 p-x-0" *ngIf="!matchResultInputAllowed(match)">{{match.HomeGoals | score}}</span>-->
                </div>
                <span class="text-xs-center col-xs-2 p-x-0">:</span>
                <div class="col-xs-5 p-x-0">
                  <input class="form-control" [(ngModel)]="match.AwayGoals" (ngModelChange)="saveResult(match)" type="number" min="0" max="9"
                  />
                  <!--<span class="col-sm-5 p-x-0" *ngIf="!matchResultInputAllowed(match)">{{match.AwayGoals | score}}</span>-->
                </div>
              </div>
            </div>
            <img class="col-sm-2 col-xs-3 flag p-x-0" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{match.AwayTeamFlag}}.svg"
              alt="Afghanistan Flag">
            <div class="col-sm-2 hidden-xs-down">{{match.AwayTeam}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>