table {
    width: 100%
}

table tbody {
    border-top: 1px solid #999;
}

td, th {
    padding: 0.5rem;
}

.user {
    font-style: italic;
}

.flag{
    border:  1px solid #999;
    width: auto;
    height: 2.5em;
    max-width: 100%;
    /*margin-left: -.9375rem;
    margin-right: .9375rem;*/
}

.completed{
    background-color: lightgray;
}

.uppercase{
    text-transform: uppercase;    
}

.card-block {
}

.matchcontainer {
    line-height: 2.5em;
    margin-bottom: 20px;
    /*padding: 4px;*/
}