<div class="container" style="margin-top: 15px;">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <input type="checkbox" id="navbar-toggle-cbox">
            <div class="navbar-header">
                <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </label>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['Overview']">Übersicht</a></li>
                    <li><a [routerLink]="['Standings']">Punktestand</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-link" *ngIf="!loggedIn()" (click)="login()">Einloggen</a></li>
                    <li><a class="btn btn-link" *ngIf="loggedIn()" (click)="logout()">Ausloggen</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>